<div class="article-box">
  <div *ngFor="let article of articles" class="article">
    <div class="upvotes">
        <span (click)="upvote(article)"><i class="fa fa-arrow-up" aria-hidden="true"></i></span> <span>{{ article.upvotes }}</span> <span (click)="downvote(article)"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
    </div>
    <div class="article-body">
      <span class="category">{{ article.category }}</span> <span class="subreddit">{{ article.subreddit }}</span> <span class="postedBy">Posted by u/{{ article.user }} {{ article.timePosted }} </span>
      <p (click)="goToDetail(article)">{{article.title}}</p>
      <img class="articleImage" src={{article.img}}>
      <span><i class="fa fa-comment" aria-hidden="true"></i> 484 Comments</span> <span><i class="fa fa-share" aria-hidden="true"></i> Share</span> <span><i class="fa fa-bookmark-o" aria-hidden="true"></i> Save</span>
    </div>
  </div>
</div>